<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS0Das8VfRwHKk7uz73cOfbftA8SqeTn4</string>
	<key>GCM_SENDER_ID</key>
	<string>406274118642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bandtech.al-andalus</string>
	<key>PROJECT_ID</key>
	<string>al-andalus-467d7</string>
	<key>STORAGE_BUCKET</key>
	<string>al-andalus-467d7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406274118642:ios:63ca59e4ab4a10aa61516b</string>
</dict>
</plist>